<h5 class="center-align">What is it?</h5>
<p class="flow-text">Quillio (Quill + Twilio) is a project born out of a desire to send
  handwritten messages to my girlfriend in the laziest way possible. It enables you to
  send beautifully handwritten images as text messages.
</p>

<h5 class="center-align">Technologies used</h5>
<p class="flow-text">
  Quillio uses
  <a href="https://handwriting.io">handwriting.io</a> to generate a realistic handwritten
  image that is then sent as a message to any phone number using <a href="http://twilio.com">Twilio</a>.
  The backend is built using <a href="https://haskell-servant.github.io/">Servant</a>, and the frontend
  is built using <a href="https://angularjs.org">AngularJS</a> and <a href="http://materializecss.com">Materialize</a>.
</p>
