<h4 class="center-align">What is it?</h4>
<p class="flow-text">Quillio (Quill + Twilio) is a project born out of a desire to send
  handwritten messages to my girlfriend in the laziest way possible. It enables you to
  send beautifully handwritten images as text messages.
</p>

<h4 class="center-align">Technologies used</h4>
<h5>Backend</h5>
  <ul class="collection">
    <li class="collection-item"><a href="https://haskell-servant.github.io/">Servant</a></li>
    <li class="collection-item"><a href="https://github.com/ismailmustafa/handwriting-haskell">Haskell Handwriting.io API Wrapper</a></li>
    <li class="collection-item"><a href="https://aws.amazon.com/ec2/">Amazon EC2</a></li>
  </ul>
<h5>Frontend</h5>
  <ul class="collection">
    <li class="collection-item"><a href="https://angularjs.org">AngularJS</a></li>
    <li class="collection-item"><a href="http://materializecss.com">Materialize</a></li>
    <li class="collection-item"><a href="http://yeoman.io">Yeoman</a></li>
    
    
  </ul>
 <h5>Third party APIs</h5>
  <ul class="collection">
    <li class="collection-item"><a href="https://handwriting.io">handwriting.io</a></li>
    <li class="collection-item"><a href="http://twilio.com">Twilio</a></li>
  </ul>
