<br>
<div class="container">
  
  <!-- Enter text here -->

<!--{{main.imageData.image_url}}-->
<div class="card grey lighten-4 hoverable">
  <div class="card-image waves-effect">
    <img class="activator" ng-model="main.imageData" src="images/quillioLogo.png" data-ng-src="data:image/PNG;base64,{{main.imageData}}">
  </div>
  <div class="card-content">
    <!--<span class="card-title activator grey-text text-darken-4" ng-init="main.messageInput = 'Send handwritten messages over text!'">{{main.messageInput}}<i class="material-icons right">more_vert</i></span>-->
    <span class="card-title activator grey-text text-darken-4">Send handwritten messages over SMS!<i class="material-icons right">settings</i></span>
  </div>
  <div class="card-reveal grey lighten-4">
    <span class="card-title grey-text text-darken-4 center-align">Handwriting Settings<i class="material-icons right">close</i></span>
      <div class="row">
        
        <!-- Color Selector -->
        <div class="col s6">
          <h5 class="grey-text center-align">Color</h5>
      
          <div class="col s12">
            
            <!-- Color Panel -->
            <div class="card-panel z-depth-1 colorPicker" ng-style="{'background': main.handwritingColor}"></div>
            
            <!-- Ranges -->
            <form action="{{main.changeColor()}}">
              <p class="range-field" ng-init="main.redRangeValue = 0">
                <input type="range" id="redRange" min="0" max="255" ng-model="main.redRangeValue" />
              </p>
            </form>
            <form action="{{main.changeColor()}}">
              <p class="range-field" ng-init="main.greenRangeValue = 0">
                <input type="range" id="greenRange" min="0" max="255" ng-model="main.greenRangeValue" />
              </p>
            </form>
            <form action="{{main.changeColor()}}">
              <p class="range-field" ng-init="main.blueRangeValue = 0">
                <input type="range" id="blueRange" min="0" max="255" ng-model="main.blueRangeValue" />
              </p>
            </form>
 
          </div>
          
        </div>
        
        <!-- Handwriting Selector -->
        <div class="col s6">
          <h5 class="grey-text center-align">Style</h5>
          
          
          <select class="handwritingSelection" ng-model="main.handwritingStyle" material-select watch>
            <option ng-repeat="handwriting in main.handwritings track by handwriting.handwritingId">{{handwriting.title}}</option>
          </select>
             
        </div>
      </div>
  </div>
</div>

<!-- Loader -->
<div class="progress red darken-4 fade" ng-show="main.imageLoader">
  <div class="indeterminate red lighten-5"></div>
</div>

<br>

<!-- Message field -->
<div class="row">
    <form name="inputForm" >
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">message</i>
          <input name="message" ng-init="main.messageInput = 'Quillio'" ng-model="main.messageInput" id="icon_prefix" type="text" class="validate" required>
          <label for="icon_prefix">message</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input ng-init="main.phoneInput = ''" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" ng-model="main.phoneInput" name="phone" id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">phone number</label>
        </div>
      </div>
      
      <div class="row">
        <!-- Buttons -->
          <!-- Update button -->
        <button class="col s12 m4 l2 offset-l1 btn waves-effect waves-light red darken-4" type="submit" name="action" ng-disabled="inputForm.message.$invalid" ng-click='main.getImage()'>Update
          <i class="material-icons right">replay</i>
        </button>

          <!-- Send button -->
        <button class="col s12 m4 l2 offset-l2 btn waves-effect waves-light red darken-3" type="submit" name="action" ng-disabled="inputForm.phone.$error.pattern || main.phoneInput.length === 0" ng-click='main.sendImage()'>Send
          <i class="material-icons right">send</i>
        </button>
        
        <!-- Help button -->
        <button class="col s12 m4 l2 offset-l2 btn waves-effect waves-light red darken-2 modal-trigger" data-target="modal1" type="submit" name="action">Help
          <i class="material-icons right">help</i>
        </button>
        
      </div>
      
    </form>
  </div>

  <!-- Help Modal -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h3 class="center-align">Help</h3>
       <ol class="collection">
        <li class="collection-item"><h6 class="flow-text">Enter text into the message field<h6></li>
        <li class="collection-item"><h6 class="flow-text">Click on the settings button to adjust the handwriting settings</h6></li>
        <li class="collection-item"><h6 class="flow-text">Click on the update button to generate the image</h6></li>
        <li class="collection-item"><h6 class="flow-text">Enter the phone number you would like to send the image to and click send!</h6></li>
      </ol>
      
      
          

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Done</a>
      <a href="#/about" class="modal-action modal-close waves-effect waves-green btn-flat left">About</a>
    </div>
  </div>


</div>