 
  /* Sticky Footer */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
  }

  main {
    flex: 1 0 auto;
  }
  
  /* Center Logo */
  #quillioLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /*.colorPicker {
    height: 200px;
  }*/
  
  .handwritingSelection {
    height: 200px;
  }
  
  /* Copying material icons directly into here since it wouldn't copy over to dist with grunt */
  @font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v12/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

#quillioLogoTiny {
  display: inline-block;
  vertical-align: middle;
}

/* Fade in loader */
.fade.ng-hide {
  opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
  display: block !important;
}

.fade.ng-hide-remove {
  transition: all linear 250ms;
}

.fade.ng-hide-add {
  transition: all linear 250ms;
}

/* Footer media queries */
@media (min-width:0px) and (max-width:400px) {
	h6 {
    font-size: 11px;
  }
}

@media (min-width:400px) and (max-width:600px) {
	h6 {
    font-size: 13px;
  }
}
